/*
Designed for header.html
*/
header {
    text-align: center;
    color: gold;
    background: black;
    text-align: center;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_item {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-right: 2px solid black;
}

.nav_item:hover {
    background-color: grey;
}

.nav_item a {
   color: yellow;
   text-decoration: none;
}

/*
Designed for the home/personal_project page.
*/

body {
    font-size: 100%
}

.left-align {
    margin-left: %10;
}

.right-align {
    margin-right: %90;
}




.project_title {
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: dodgerblue;
    border-top: black outset medium;
    margin: 0;
}

.content {
    background-color: dodgerblue;
    margin: 0;
}

.project_description{
    text-align: center;
    color: white
}

.git_link {
    font-style: italics;
    margin: auto;
    border: none;
    position: relative;
}

.project_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
}
/*
Designed for the register page.
*/

body {
    margin: 0;
}

.register {
    color: #FEFEFE;
    background-color: dodgerblue;
    margin: 0;
}

.btn {
    margin-left: 20px;
    border: solid 1px black;
}

/*
Designed for the About Me page.
*/
.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;

}

.column {
    float: left;
    width: 33%;
    border: 1px solid black;
}

.column h3 {
    text-align: center;
}

.column li {
    list-style-type: circle;
    list-style-image: url('tiny_wolf.jpg');
    list-style-image-width: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responds in case the screen is small.*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Hide the text explaining each skill.*/
.hidden {
    display: none;
    font-style: italic;
    color: gold;
}

.skill:hover {
    border-bottom: 1px solid black;
}

.skill:hover .hidden {
    display: inline;
    color: gold;
}

/*Reveal the text explaining each skill.*/


.about_me {
    color: #FEFEFE;
    margin: 0;
}

.about_me h3 {
    margin: 10px;
}

.about_me h4 {
    margin: 20px;
}

.about_me p {
    margin: 30px;
}

.history_link {
    color: yellow;
    font-style: underline;
}

.list_header {
    font-style: italic;
    margin-left: 0px;
}

.about_me h2 {
    text-align: center;
    font-style: "Times New Roman";
    font-size: 1.5em;
 }

.book_list {
    margin: 40px;
    margin-top: 0px;
}

.inline_image {
    max-width: 50px;
    max-height: 50px;
    display: inline;
}


.inline_image:hover {
    max-width: 50%;
    max-height: 100%;
    border: solid large gold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

#profile_pic {
    float: left;
    display: inline;
    margin: auto;
    max-width: 390px;
    max-height: 390px;
}

#dungeons_and_dragons {
    display: inline;
    max-width: 390px;
    max-height: 390px;
    margin: auto;
}