/*
        <li class="seeker-item" id="run">Run</li>
        <li class="seeker-item" id="reset">Reset</li>
        <li class="seeker-item" id="reset-all">Reset All</li>
        <li class="seeker-item" id="add-row">Add Row</li>
        <li class="seeker-item" id="add-col">Add Column</li>
        <li class="seeker-item" id="algorithm">Select Algorithm</li>
        <li class="seeker-item" id="change">Select Change</li>

*/


/*
Designed for seeker.html
*/
:root {
    --rowNum: 10;
    --colNum: 10;
}

#seeker-body {
    background-color: white;
    color: black;
}

#reveal:hover {
    cursor: pointer;
}

.hidden-text {
    display: none;
    text-align: center;
}

#map {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-columns: repeat(var(--colNum), auto);
    background-color: antiquewhite;
    padding: 10px;
}

.cell {
    height: 1em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.searched-image {
    margin: auto;
    height: 1.3em;
    width: 1.3em;
    background-color: black;
    z-index: 1;
    visibility: hidden;
}

.seeker-bar {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: antiquewhite;
    border-width: .1em;
    border-style: solid;
    border-color: black;
    color: red;
}

.seeker-item {
    float: left;
    text-align: center;
    border-right: solid black;
    color: black;
    font-size: 1.7em;
    width: 24%;    
}

.seeker-option {
    z-index: 1;
    text-align: inherit;
    font-size: .8em;
    color: grey;
    display: none;
}

.seeker-option:hover {
    display: inline-block;
}

.seeker-item:hover {
    cursor: pointer;
}

#seeker-title {
    margin-top: 0px;
    text-align: center;
    font-size: xx-large;
}

.intro-text {
    text-align: center;
}

.golden {
    color: yellow;
    font-weight: bolder;
}


/*
Designed for header.html
*/

* {
   font-family: "Times New Roman", Times, serif;
}

header {
    text-align: center;
    color: gold;
    background: black;
    text-align: center;
}

h1 {
    margin: 0px 0px 21px;
    padding: 12px 0px 0px;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_item {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-right: 2px solid black;
}

.nav_item:hover {
    background-color: grey;
}

.nav_item a {
   color: yellow;
   text-decoration: none;
}

/*
Designed for the home/personal_project page.
*/

body {
    font-size: 100%
}


.project_title {
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: #0000A1;
    border-top: black outset medium;
    margin: 0;
}

body {
    background-color: #0000A1;
    margin: 0;
}

.project_description{
    text-align: center;
    color: white
}

.git_link {
    font-style: italics;
    border: none;
    color: gold;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.project_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
}
/*
Designed for the register page.
*/

body {
    margin: 0;
}

.register {
    color: #FEFEFE;
    background-color: #0000A1;
    margin: 0;
}

.btn {
    margin-left: 20px;
    border: solid 1px black;
}

/*
Designed for the About Me page.
*/
.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.column {
    float: left;
    height: auto;
    border: 1px solid black;
}

.column h3 {
    text-align: center;
}

.column li {
    list-style-type: circle;
    list-style-image: url('tiny_wolf.jpg');
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responds in case the screen is small.*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Hide the text explaining each skill.*/
.hidden {
    display: none;
    font-style: italic;
    color: gold;
    z-index: 1;
}

.skill:hover {
}

.skill:hover .hidden {
    display: inline;
    color: white;
}

/*Reveal the text explaining each skill.*/


.about_me {
    color: #FEFEFE;
    margin: 0;
}

.about_me h3 {
    margin: 10px;
}

.about_me h4 {
    margin: 20px;
}

.about_me p {
    margin: 30px;
}

.history_link {
    color: yellow;
    font-style: underline;
}

.list_header {
    font-style: italic;
    margin-left: 0px;
}

.about_me h2 {
    text-align: center;
    font-style: "Times New Roman";
    font-size: 1.5em;
 }

.book_list {
    margin: 40px;
    margin-top: 0px;
}

.inline_image {
    max-width: 50px;
    max-height: 50px;
    display: inline;
}


.inline_image:hover {
    max-width: 50%;
    max-height: 100%;
    border: solid large gold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.float_left {
    float: left;
}

#bottom_text {
    margin: 35px 30px 0px;
    padding-bottom: 10px;
}

.bottom_pictures {
    box-sizing: border-box;
}

.bottom_picture {
    float: left;
    width: 33%;
    height: 33%;
}