body {
    font-size: 100%
}

.left-align {
    margin-left: %10;
}

.right-align {
    margin-right: %90;
}

.banner {
    text-align: center;
    color: gold;
    background: black;
    text-align: center;
}

.page_title {
    font-size: 1.5em;
    color: gold;
    border: gold double medium;
    border-top: none;
    background: black;
    text-align: center;
}

.project_title {
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: dodgerblue;
    border-top: black outset medium;
}

.content {
    background-color: dodgerblue;
}

.project_description{
    text-align: center;
    color: white
}

.git_link {
    font-style: italics;
    margin-left: 50%;
}

.project_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
}