{% extends "main/header.html" %}
    {% block content %}
    {% for pro in projects %}
    <body>
        <div id="container">
            <div id="grid"></div>
            <div id="lower-banner">
                <select>
                    <option value="Clear">Clear</option>
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                </select>
                <button>Next</button>
                <button>Start</button>
            </div>
        </div>
        <script src="gameOfLife.html"></script>
    </body>
{% endfor %}
{% endblock %}