<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    </head>
   <body>
    <header role = "banner" class="banner">
        <h1> Remember the Alamo!</h1>
        <button class="page"><a href="/" ><h3>>Home</h3></a></button>
        <button class="page"><a href="/register" ><h3>>Register</h3></a></button>
        <button class="page"><a href="/aboutme" ><h3>>About Me</h3></a></button>
    </header>
            <script></script>
    <div class="content">
        <article>
            {% block content %}
            {% endblock %}
        </article>
    </div>
</body>
</html>