{% extends "main/header.html" %}
    {% block content %}
    {% for pro in projects %}
    <body class="about_me">
        <article>
            <header class="project_title">
                <h3>{{pro.project_title}}</h3>
            </header>
            <section class="project">
                <p class="project_description">{{pro.project_description}}</p>
                <a href={{pro.project_github}} class= "project_description git_link" target="_blank">GitHub Repository</a>
                <br>
                <img src="{{ pro.project_image.url }}" class="project_image"/>
                <br>
                <br>
            </section>
        </article>
    </body>
    {% endfor %}
    {% endblock %}
