{% extends "main/header.html" %}
    {% block content %}
    {% for pro in projects %}
        <article>
            <header>
                <h2>{{pro.project_title}}</h2>
            </header>
            <section>
                <p>{{pro.project_published}}</p>
                <p>{{pro.project_description}}</p>
                <a href={{pro.project_link}}>Check out the project</a>
                <br>
                <img src="{{ pro.project_image.url }}" />
                <br>
                <a href={{pro.project_github}}>GitHub Repository</a>
                <br>
            </section>
        </article>
    {% endfor %}
    {% endblock %}
