{% extends "main/header.html" %}
{% block content %}
<body class="about_me" id="seeker-body">
    <div class="intro">
        <h3 id="seeker-title">Seeker!</h3>
        <p class="intro-text">Seeker is a game where you can use different search algorithms to find the <strong class="golden">GOLDEN</strong> treasure.</p>
        <div class="instructions">
            <p class="intro-text" id="reveal">Click here for instructions.</p>
            <div class="hidden-text">
                <p>Greetings seeker! You are creating a map to find buried treasure. First design your map, then choose
                    a search algoirthm to find your treasure!
                    <ul class="instruction-list">
                        <li class="instruction-item">
                            <p class="instruction-text"><strong class="instruction-header">Play:</strong>
                            Run applies the selected search algorithm on the current treasure map.
                                Reset turns all the visited tiles to unvisited.
                                Reset All undos all changes made to the map.
                            </p>
                        </li>
                        <li class="instruction-item">
                            <p class="instruction-text"><strong class="instruction-header">Size:</strong>
                                Use this to either add columns or add rows to the map.
                                </p>
                        </li>                        
                        <li class="instruction-item">
                            <p class="instruction-text"><strong class="instruction-header">Select Algorithm:</strong>
                                Choose an algorithm from the dropdown menu to select a search algorithm to use. Then hit Run to find a path!                                </p>
                        </li>
                        <li class="instruction-item">
                            <p class="instruction-text"><strong class="instruction-header">Select Change:</strong>
                                Choose how you want to edit the map. Once you select a change, any tile you click will become a tile of your 
                                chosen type. If you select Obstacle, any tile you click will become an Obstacle tile.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <ul class="seeker-bar">
        <li class="seeker-item" id="play">
            <ul>Play
                <br>
                <li class="seeker-option play" id="run">Run</li>
                <li class="seeker-option play" id="reset">Reset</li>
                <li class="seeker-option play" id="reset-all">Reset All</li>
            </ul>
        </li>
        <li class="seeker-item" id="size">
            <ul>Size
                <br>
                <li class="seeker-option size" id="add-row">Add Row</li>
                <li class="seeker-option size" id="add-column">Add Column</li>
            </ul>
        </li>
        <li class="seeker-item" id="algorithm">
            <ul>Choose Algorithm
                <br>
                <li class="seeker-option algorithm" id="bfs">Breadth First Search</li>
                <li class="seeker-option algorithm" id="dfs">Depth First Search</li>
                <li class="seeker-option algorithm" id="da">Dijkstra Algorithm</li>
                <li class="seeker-option algorithm" id="a-star">A Star Algorithm</li>
            </ul>
        </li>
        <li class="seeker-item" id="change">
            <ul>Choose Change
                <br>
                <li class="seeker-option change" id="treasure">Add Treasure</li>
                <li class="seeker-option change" id="start">Set Start</li>
                <li class="seeker-option change" id="obstacle">Add Obstacle</li>
            </ul>
        </li>
    </ul>
    <div id="map"></div>
</body>
</html>
{% endblock %}